In [8]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [9]:
data = np.loadtxt("train.csv", delimiter=',')

In [10]:
x = data[:,0:10]
y = data[:,10]
x.shape, y.shape

((331, 10), (331,))

In [11]:
alg1 = LinearRegression()
alg1.fit(x,y)

LinearRegression()

In [12]:
data_test = np.loadtxt("test.csv", delimiter=",")
data_test

array([[ 0.02354575,  0.05068012, -0.0374625 , ..., -0.03949338,
        -0.03075121, -0.01350402],
       [-0.07816532, -0.04464164, -0.0730303 , ..., -0.03949338,
        -0.01811827, -0.08391984],
       [-0.03094232,  0.05068012,  0.00133873, ...,  0.1081111 ,
         0.08379677,  0.00306441],
       ...,
       [ 0.0090156 , -0.04464164, -0.01267283, ...,  0.03430886,
         0.02337484, -0.0052198 ],
       [ 0.01991321, -0.04464164, -0.03422907, ...,  0.03283281,
         0.02472532,  0.06933812],
       [ 0.01628068,  0.05068012,  0.00996123, ..., -0.03949338,
         0.01703713,  0.00720652]])

In [13]:
x_test = data_test[:,0:10]

In [14]:
y_pred = alg1.predict(x_test)
df = pd.DataFrame(y_pred)
df.round(5)

             0
0    105.52975
1    105.80392
2    178.60857
3     79.38288
4     52.95869
..         ...
106  246.41236
107  234.96393
108  191.51298
109  168.33254
110  163.02965

[111 rows x 1 columns]

In [15]:
df.to_csv('output.csv', index=False, header=False)