In [3]:
import sqlite3

In [5]:
db = sqlite3.connect("Employee.sqlite")
cur = db.cursor()

In [7]:
cur.execute("create table EmployeeDetail (employee_id int primary key, name varchar(20), age int, department varchar(25), salary int);")

In [9]:
db.commit()

In [11]:
values = [(100, 'Rishav', 25, 'Marketing', 50000), (101, 'Abhishek', 26, 'Operations', 60000),(102, 'Aman', 24, 'Human Resource', 75000)]
cur.executemany("Insert into EmployeeDetail values (?, ?, ?, ?, ?);", values)

In [12]:
db.commit()

In [16]:
cur.execute("delete from EmployeeDetail where employee_id = 101;")
db.commit()

In [20]:
param = 102
cur.execute("delete from EmployeeDetail where employee_id = ?;", (param,))
db.commit()

In [28]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

values = [(employee_id[i], name[i], age[i], department[i], salary[i],) for i in range(12)]
cur.executemany("insert into EmployeeDetail values (?,?,?,?,?)", values)
db.commit()

In [31]:
cur.execute("select employee_id from EmployeeDetail where department = 'Finance';")
ans = cur.fetchall()
print(ans)

[(103,), (107,)]

In [33]:
cur.execute("select department, count(*) from EmployeeDetail group by department")
ans = cur.fetchall()
for i in ans:
    print(i[0], i[1])

Finance 2
Human Resource 2
IT 2
Marketing 5
Operations 2

In [34]:
import sqlite3
db = sqlite3.connect('Employee_1.sqlite')
cur = db.cursor()
cur.execute('create table Employee_Detail (employee_id int primary key,name Text,age int,department Text,salary int)')
values = [(101,"Aadarsh",25,"Marketing",50000),(102,"Aarti",27,"Operations",60000),(103,"Siddharth",25,"Finance",85000),(104,"Aman",25,"Human Resource",75000),(105,"Amit",30,"Marketing",50000),(106,"Shivansh",26,"IT",90000),(107,"Vaibhav",23,"Finance",85000),(108,"Himanshu",26,"IT",90000),(109,"Raman",25,"Operations",60000),(110,"Kunal",26,"Marketing",50000),(111,"Adhira",29,"Human Resource",75000),(112,"Tanya",24,"Marketing",50000)]
cur.executemany('Insert into Employee_Detail values (?,?,?,?,?)',values)
count = cur.execute('select department,count(*) from employee_detail group by department')
db.commit()
for i in count:
    print(i[0]," ",i[1])

Finance   2
Human Resource   2
IT   2
Marketing   4
Operations   2

In [45]:
import sqlite3
import numpy as np
import pandas as pd

db = sqlite3.connect('IMDB.sqlite')

data = pd.read_sql_query('select title, runtime from imdb', db)
# print(data)
title = np.array(data.Title, dtype=str)
runtime = np.array(data.Runtime)

arg = runtime != ""
runtime = runtime[arg]
for i in range(len(runtime)):
    runtime[i] = runtime[i].split()[0]
runtime = np.array(runtime, dtype=int)
title = title[arg]
max = np.argmax(runtime)
print(title[max], runtime[max])

The Wolf of Wall Street (2013) 180

In [64]:
import sqlite3
import numpy as np
import pandas as pd

db = sqlite3.connect('IMDB.sqlite')

arr = pd.read_sql_query('select title, budget from imdb', db)
moviecreds = pd.read_sql_query('select domestic, worldwide from earning', db)

domestic = np.array(moviecreds.Domestic, dtype=int)
worldwide = np.array(moviecreds.Worldwide, dtype=int)
gross = np.array(domestic+worldwide, dtype=int)
budget = np.array(arr.Budget)
title = np.array(arr.Title)

df = pd.DataFrame({'gross': gross, 'budget': budget, 'title': title})
df = df[df.budget!=""]

df['net'] = np.array(df.gross-df.budget, dtype=int)

max = np.argmax(df.net)
print(title[max])

Straight Outta Compton (2015)

In [66]:
import sqlite3
import numpy as np
import pandas as pd

db = sqlite3.connect('IMDB.sqlite')

arr = pd.read_sql_query('select title, budget from imdb', db)
moviecreds = pd.read_sql_query('select domestic, worldwide from earning', db)

domestic = np.array(moviecreds.Domestic, dtype=int)
worldwide = np.array(moviecreds.Worldwide, dtype=int)
gross = np.array(domestic+worldwide, dtype=int)
budget = np.array(arr.Budget)
title = np.array(arr.Title)

df = pd.DataFrame({'gross': gross, 'budget': budget, 'title': title})
df = df[df.budget!=""]

df['net'] = np.array(df.gross-df.budget, dtype=int)

max = np.argmin(df.budget)

max2 = np.argmax(df.net[max])

print(title[max][max2])

R

In [90]:

import sqlite3
import numpy as np
import pandas as pd

def f(str):
    return str.split('(')[1].replace(')', "")

db = sqlite3.connect('IMDB.sqlite')

df = pd.read_sql_query('select imdb.title, earning.domestic, earning.worldwide from imdb inner join earning on imdb.movie_id = earning.movie_id', db)
df.dropna(subset=['Title', 'Domestic', 'Worldwide'], inplace=True)
df['year'] = df.Title.apply(f)
df['net'] = df.Domestic + df.Worldwide
df.drop(columns = ['Domestic', 'Worldwide'], inplace=True)
d = {}
max = 0
for i in df.values:
    if i[2] > max:
        max = i[2]
        d[i[1]] = i[0]
for i in sorted(d.keys()):
        print(i, d[i])

2012 Argo (2012)
2013 12 Years a Slave (2013)
2014 Big Hero 6 (2014)
2015 Star Wars: The Force Awakens (2015)
2016 Rogue One (2016)

In [91]:
## Open and read data file as specified in the question
## Print the required output in given format
import pandas as pd
import sqlite3
import numpy as np
db=sqlite3.connect('IMDB.sqlite')
imdb=pd.read_sql_query("Select * from IMDB",db)
earning=pd.read_sql_query("Select * from earning",db)
genre=pd.read_sql_query("Select * from genre",db)
imdb_earning=pd.merge(imdb,earning,on='Movie_id')
imdb_earning['Domestic'].replace('',0,inplace=True)
imdb_earning['Worldwide'].replace('',0,inplace=True)
imdb_earning['Total Earning']=imdb_earning['Domestic']+imdb_earning['Worldwide']
def findYear(title):
    return int(title.split('(')[-1][:-1])
imdb_earning['Year']=imdb_earning['Title'].apply(findYear)
year=sorted(imdb_earning['Year'].value_counts().index)
for i in range(len(year)):
    earning=max(imdb_earning[imdb_earning['Year']==year[i]]['Total Earning'])
    print(year[i],imdb_earning[imdb_earning['Total Earning']==earning]['Title'].values[0])

TypeError: 'float' object is not callable

In [115]:
import sqlite3
import numpy as np
import pandas as pd

db = sqlite3.connect('IMDB.sqlite')

df = pd.read_sql_query('select genre.genre, imdb.budget from genre inner join imdb on genre.movie_id = imdb.movie_id', db)

df = df[df.Budget != ""]
df = df[df.genre != ""]
d = {}
# print(df)
for i in df.values:
    d[i[0]] = d.get(i[0], 0) + i[1]

values = np.array(list(d.values()), dtype=float)
keys = np.array(list(d.keys()))
sum = np.sum(values)

for i in range((keys.size)):
    print(keys[i], '%.2f'%(values[i]*100/sum))

Biography 2.59
Adventure 25.10
Comedy 7.22
Drama 10.85
Action 17.98
Animation 7.66
Crime 1.77
Mystery 1.95
Romance 1.12
Thriller 3.99
History 0.72
Sport 0.46
Western 0.57
Sci-Fi 10.77
Family 1.91
Musical 0.25
Fantasy 4.54
War 0.36
Horror 0.03
Music 0.15

In [119]:
import sqlite3
import numpy as np
import pandas as pd

db = sqlite3.connect('IMDB.sqlite')
df = pd.read_sql_query('select genre.genre, earning.worldwide, earning.domestic from genre inner join earning on genre.movie_id = earning.movie_id', db)

df = df[df.Worldwide != ""]
df = df[df.Domestic != ""]
df = df[df.genre != ""]
df['net'] = df.Worldwide + df.Domestic
df.drop(columns=['Worldwide', 'Domestic'], inplace=True)

d = {}

# print(df)
for i in df.values:
    d[i[0]] = d.get(i[0], 0) + i[1]

values = np.array(list(d.values()), dtype=float)
keys = np.array(list(d.keys()))
sum = np.sum(values)

for i in range((keys.size)):
    print(keys[i], '%.2f'%(values[i]*100/sum))

Biography 3.42
Adventure 23.57
Comedy 7.69
Drama 11.96
Action 17.91
Animation 6.77
Crime 1.55
Mystery 2.01
Romance 1.45
Thriller 4.42
History 1.04
Sport 0.32
Western 0.65
Sci-Fi 9.95
Family 1.05
Musical 0.38
Fantasy 5.15
War 0.25
Horror 0.01
Music 0.43

In [12]:
import sqlite3
import numpy as np
import pandas as pd

db = sqlite3.connect('IMDB.sqlite')
df = pd.read_sql_query('select genre.genre, imdb.title, imdb.rating from genre inner join imdb on genre.movie_id = imdb.movie_id', db)
df = df[df.Rating >= 8]
title = np.array(df.Title)
genre = np.array(df.genre)
d = {}

for i in range(len(title)):
    d[title[i]] = d.get(title[i], '') + " " + genre[i]
for movie, genres in d.items():
    if 'Sci-Fi' in genres.split(" ") and 'Mystery' in genres.split(" "):
        print(movie)

Arrival (2016)